*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
}

header{
    background: url("https://sahilbansalweb.github.io/ICF-Bank/img/money-2696229_1920.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}
.logo img{
    height: 70px;
    width: 70px;
}
.logo a{
    font-size: 25px;
}
.call{
    margin-left: 5rem;
}
.home{
    margin-right: 8rem;
    font-size: 20px;
}

.bottom{
    margin-top: 1rem;
    width: 50px;
    height: 5px;
    background-color: black;
}

.lbottom{
    position: relative;
    width: 180px;
    height: 8px;
    margin-left: 15vw;
    margin-top: 2rem;
    background-color: black;
}

.centre{
    height: 70vh;
}
.mid{
    position:relative;
    left: 30%;     
    width: 50vw;
}
.mid h1{
    font-size: 90px;
}
.social{
    position:fixed;
    right: 5px;
}
.fa{
    margin: 10px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

section{
    font-family: 'Quicksand', sans-serif;
    background: white;
}

/* #form{
    background: black;
    color: white;
    height: 400px;
    width: 700px;
    position: relative;
    margin: auto;
    font-size: 30px;
}

#formhead{
    padding: 40px;
    font-weight: 500;
} */

.form-style-4{
	width: 650px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
    position: relative;
    margin: auto;
    top: -90px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}

#formhead{
    color: white;
    font-size: 30px;
    padding: 20px;
}

.aform{
    margin: 20px;
}

.sform{
    margin: 20px;
}
